[Unit]
Description=APChecker
After=network.target

[Service]
Type=simple
ExecStart=bash /bin/ap_checker
#StandardInput=tty-force
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target